<!----<div *ngIf="profile">
  <div>-->
    <div class="card w-100 border border-danger">
      <div class="card-body">
        <h4 class="card-title text-center">
          Add New Profile
        </h4>
        <h6 style="text-align: center">Enter Your Profile Information</h6>
        <hr />
        <div class="row">
          <!---<div class="col-lg-6 col-md-6 col-sm-12">
            <img class="card-img-top"
            style="height:350px; width:350px;"
            src="{{profile.imgPath}}" />
          </div>-->
          <div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <p class="card-text">
                <label>Name: 
                  <input style="align-items: center" placeholder="name"/>
                </label><br/></p>
              <p class="card-text">
                <label>Major: 
                  <input placeholder="major"/>
                </label><br/></p>
              <p class="card-text">
                <label>Location: 
                  <input placeholder="location"/>
                </label><br/></p>
              <p class="card-text">
                <label>College Status: 
                  <input placeholder="collegeStatus"/>
                </label><br/></p>
              <p class="card-text">
                <label>Languages: 
                  <input placeholder="languages"/>
                </label><br/></p>
              <p class="card-text">
                <label>Interests: 
                  <input  placeholder="interests"/>
                </label><br/></p>
              <p class="card-text">
                <label>Organizations:
                  <input placeholder="organizations"/>
                </label><br/></p>
              </div>
            </div>
        </div>
      </div>

      <div class="card-footer" style="text-align: center">
        <button class="btn" style="width:200px; margin-right: 7.5px; border-color: black"(click)="goBack()">go back</button>
        <button class="btn" style="width:200px; margin-right: 7.5px; border-color: black"(click)="save()">save</button>
      </div>
    </div>
 <!---- </div>
</div>-->

