<!----<div *ngIf="profile">
  <div>-->
    <div class="card w-100 border border-danger">
      <div class="card-body">
        <h4 class="card-title text-center">
          Add New Profile
        </h4>
        <h6 style="text-align: center">Enter Your Profile Information</h6>
        <hr />

        <form [formGroup]="profileForm" (ngSubmit)="save()">
          <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="row">
                  <div class="col-lg-11 col-sm-11">
                    <img class="text-center" [src]="imgUrl" width="350" height="350" />
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 col-sm-12">
                    <input #fileInput type="file" (change)="onFileSelected($event.target.files)" style="display: none;"/>
                    <button class="btn" type="button" (click)="fileInput.click()">
                      Choose a File
                    </button>
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-0"></div>
                  <div class="col-lg-4 col-md-5 col-sm-12">
                    <button class="btn" type="button" (click)="onUpload(fileInput.files)">
                      Upload
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="form-group group">
                <p class="card-text">
                  <label>Name: </label><br/>
                  <input type="text" class="form-control"  
                  placeholder="name" formControlName="name"/>
                </p>
                <div *ngIf="profileForm.controls['name'].invalid && (profileForm.controls['name'].dirty || profileForm.controls['name'].touched)"> 
                  <div class="alert alert-danger" *ngIf="profileForm.controls['name'].errors.required"> This field is required </div> 
                </div> 
                <div *ngIf="profileForm.controls['name'].errors"> 
                  <div class="alert alert-danger" *ngIf="profileForm.controls['name'].errors.pattern"> The name is not valid </div> 
                </div>
                <p class="card-text">
                  <label>Major: </label><br/>
                  <input type="text" class="form-control" 
                  placeholder="major" formControlName="major"/>
                </p>
                <!--<div *ngIf="profileForm.controls['major'].invalid && (profileForm.controls['major'].dirty || profileForm.controls['major'].touched)"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['major'].errors.required"> This field is required </div> 
                  </div> 
                  <div *ngIf="profileForm.controls['major'].errors"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['major'].errors.pattern"> The major is not valid </div> 
                  </div>-->
                <p class="card-text">
                  <label>Location: </label><br/>
                  <input type="text" class="form-control" 
                  placeholder="location" formControlName="location"/>
                </p>
                <div *ngIf="profileForm.controls['location'].invalid && (profileForm.controls['location'].dirty || profileForm.controls['location'].touched)"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['location'].errors.required"> This field is required </div> 
                  </div> 
                  <div *ngIf="profileForm.controls['location'].errors"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['location'].errors.pattern"> The location is not valid </div> 
                  </div>
                <p class="card-text">
                  <label>College Status: </label><br/>
                  <input type="text" class="form-control" 
                  placeholder="college status" formControlName="collegeStatus"/>
                </p>
                <div *ngIf="profileForm.controls['collegeStatus'].invalid && (profileForm.controls['collegeStatus'].dirty || profileForm.controls['collegeStatus'].touched)"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['collegeStatus'].errors.required"> This field is required </div> 
                  </div> 
                  <div *ngIf="profileForm.controls['collegeStatus'].errors"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['collegeStatus'].errors.pattern"> The college status is not valid </div> 
                  </div>
                <p class="card-text">
                  <label>Languages: </label><br/>
                  <input type="text" class="form-control" 
                  placeholder="languages" formControlName="languages"/>
                </p>
                <!---<div *ngIf="profileForm.controls['languages'].invalid && (profileForm.controls['languages'].dirty || profileForm.controls['languages'].touched)"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['languages'].errors.required"> This field is required </div> 
                  </div> 
                  <div *ngIf="profileForm.controls['languages'].errors"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['languages'].errors.pattern"> This field not valid </div> 
                  </div>-->
                <p class="card-text">
                  <label>Interests: </label><br/>
                  <input type="text" class="form-control" 
                  placeholder="interests" formControlName="interests"/>
                </p>
                <!---<div *ngIf="profileForm.controls['interests'].invalid && (profileForm.controls['interests'].dirty || profileForm.controls['interests'].touched)"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['interests'].errors.required"> This field is required </div> 
                  </div> 
                  <div *ngIf="profileForm.controls['interests'].errors"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['interests'].errors.pattern"> This field is not valid </div> 
                  </div>-->
                <p class="card-text">
                  <label>Organizations: </label><br/>
                  <input type="text" class="form-control" 
                  placeholder="organizations" formControlName="organizations"/>
                </p>
                <!---<div *ngIf="profileForm.controls['organizations'].invalid && (profileForm.controls['organizations'].dirty || profileForm.controls['organizations'].touched)"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['organizations'].errors.required"> This field is required </div> 
                  </div> 
                  <div *ngIf="profileForm.controls['organizations'].errors"> 
                    <div class="alert alert-danger" *ngIf="profileForm.controls['organizations'].errors.pattern"> This field is not valid </div> 
                  </div>-->
                <button class="btn btn-primary" type="submit" [disabled]="!profileForm.valid">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="card-footer" style="text-align: center">
        <button class="btn" style="width:200px; margin-right: 7.5px; border-color: black"(click)="goBack()">go back</button>
        <!--
        <button class="btn" style="width:200px; margin-right: 7.5px; border-color: black"(click)="save()">save</button>
        -->
      </div>
    </div>
