<!-- <div *ngIf="profile"> -->
  <div>
  <div class="card w-100 border border-danger">
    <div class="card-body">
      <h4 class="card-title text-center">
          {{profile.name}}
        </h4>
        <hr />
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img class="card-img-top"
                style="height:350px; width:350px;"
                src="{{profile.imgPath}}" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <span>
            <p class="card-text">
              College Status: <br/>
              <span class="arrayItem"> {{profile.collegeStatus}}</span>
            </p>
            <p class="card-text">
              Hometown: <br/>
              <span class="arrayItem"> {{profile.location}}</span>
            </p>
            <p class="card-text">
              Experience with Programming Language(s): <br/>
              <span class="arrayItem">{{profile.languages}}</span>
              <!--
              <span *ngFor="let language of profile.languages">
                <span class="arrayItem">
                  {{language}}
                </span>
              </span>
              -->
            </p>
            <p class="card-text">
              Interests: <br/>
              <span class="arrayItem">{{profile.interests}}</span>
              <!--
              <span *ngFor="let interest of profile.interests">
                <span class="arrayItem">
                  {{interest}}
                </span>
              </span>
              -->
            </p>
            <p class="card-text">
              Organizations: <br/>
              <span class="arrayItem">{{profile.organizations}}</span>
              <!--
              <span *ngFor="let organization of profile.organizations">
                <span class="arrayItem">
                  {{organization}}
                </span>
              </span>
              -->
            </p>
          </span>
        </div>
      </div>
    </div>
    <div class="card-footer" style="text-align: center">
      <a routerLink="/profiles" class="btn" style="width:200px; margin-right: 7.5px; border-color: black">Back</a>
      <a href="#" class="btn" style="width:200px; margin-left: 7.5px; border-color: black">Contact {{profile.name}}</a>
      <a routerLink="/detail/{{profile.id}}" class="btn" style="width:200px; margin-left: 7.5px; border-color: black">Update</a>
    </div>
  </div>
</div>
