<div class="container">
  <div class="row">
    <div *ngFor="let profile of profiles">
      <div class="card" style="height: 15em; width: 18em;">
        <div class="card-body">
          <h4 class="card-title text-center">
            {{profile.name}}
          </h4>
          <hr/>
          <img class="card-img-top"
                style="max-height:100px; max-width:40%; float:left;"
                src="{{profile.img_path}}" />
          <span style="max-width:55%; float:right">
            <p class="card-text">
              {{profile.college_status}}
            </p>
            <p class="card-text">
              {{profile.location}}
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
