#title {    
    background-color: #EA212D;
    text-align: center;
}

.card-title a{
    color: #EA212D;
}

.card-title a:hover{
    color: black;
}

.profileCard, .profileCard:hover, .profileCard:visited {
    text-decoration: none;
    color: #000000;
    transition: color 0.3s;
}
.profileCard:hover {
    color: #EA212D;
}
